* {
    box-sizing: border-box;
}

body {
    background-color: rgb(243, 178, 109);
}

h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 30px;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card {
    text-align: center;
    border: solid .5px;
    border-radius: 2em;

    background-color: lightblue;
    transition: scale .5s;
}

.card:hover {
    scale: 1.2;
}